//------------------------------------------------------------------------------
// Abstract

$_rand : random();

//------------------------------------------------------------------------------
// Grid
.grid {
  @include position-center(absolute, both);
  max-width: 80vw;
  height: 80%;
  max-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid__row {
  @include flex(row, space-between, center);
  margin-bottom: 10px;
}

.grid__column {
  position: relative;
  flex-basis: 33%;
  height: 100%;
  margin-right: 10px;
  background: rgba($black, 0.025);
  border: 1px solid rgba(151,151,151,0.60);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), inset 0 -2px 0 0 rgba(0,0,0,0.06);
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.025), inset 0 -1px 0 0 rgba(0,0,0,0.03);
  }
}

.grid__content {
  @include position-center(absolute, both);
  font-size: 20px;
  line-height: 1;
}


.a {
  background: blue;
}


.grid-controls {
  height: 100%;
  background: rgba($black, 0.05);
  & > div {
    position: absolute;
    width: 40px;
    height: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  .grid-controls__grow {
    font-size: 18px;
    text-align: center;
    background: rgba($black, 0.1);
  }

  .grid-controls__shrink {
    font-size: 14px;
    color: #ccc;
    text-align: center;
    background: rgba($black, 0.05);
  }

  .grid-controls__top {
    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .grid-controls__right {
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(90deg);
  }

  .grid-controls__bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }

  .grid-controls__left {
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-90deg);
  }
}
