//------------------------------------------------------------------------------
// Abstract


//------------------------------------------------------------------------------
// Copy

.char-modal {
  @include flex(column, center, center);
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: -1;
  background: rgba(lighten($black, 67.5%), 0.95);
  opacity: 0;
  transition: opacity 0.2s ease-out;

  &.char-modal--show {
    z-index: 3;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.char-modal__chars {
  position: absolute;
  max-height: calc(100vh - 160px);
  top: 160px;
  width: 100%;
  height: 100%;
  padding: 0 10vw;
  background: white;
  font-size: 30px;
  overflow: scroll;
}

.char-modal__mojo {
  @include flex(row, center, center);
  width: 80px;
  height: 80px;
  &:hover {
    cursor: pointer;
  }
}

#char-modal__close {
  @include desc-underlines(reset);
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background: rgba($black, 0.9);

  @include media(">=tablet") {
    top: 60px;
    right: 60px;
  }

  &:hover {
    background: $black;
  }

  &:before,
  &:after {
    content: '';
    @include position-center(absolute, y);
    width: 20px;
    height: 1px;
    left: 15px;
    background: white;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.char-modal__search {
  position: absolute;
  top: 60px;
}

.modal-search {
  position: relative;
  margin: 0 auto;
}

.search {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto 50px;
  padding: 0 15px;
  background: rgba($black, 0.05);
  border: none;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: $font-mono;
  text-align: center;

  &:focus {
    outline: none;
    background: rgba($black, 0.08);
  }

  &.search--lock {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

::-webkit-input-placeholder {
  color: $black;
  font-family: $font-mono;
  font-size: in-rems(12px);
  text-align: center;
}