//------------------------------------------------------------------------------
// Abstract

$_copy-size: 120px;
$_copy-offset: 25px;

//------------------------------------------------------------------------------
// scape-create

.scape-create {
  @include flex(column, center, center);
  display: none;

  #scape-create__rows {
    padding-bottom: 10px;
  }

  &__info {
    margin-bottom: 40px;
    font-family: $font-mono;
    font-size: 30px;

    span {
      display: block;
    }
  }

  &__btn {
    @extend .grid__column;
    @include flex(row, center, center);
    flex: 1;
    font-size: 30px;
    text-align: center;
    text-decoration: none;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.05), inset 0 -2px 0 0 rgba(0,0,0,0.06);
    }
  }

  &__info {
    font-size: 30px;
  }

  &__templates {
    @include flex(row, center, center);
    width: 100%;
    margin-top: 30px;
  }

  label span {
    display: inline-block;
    width: 100px;
  }

  input {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
  }

  ::-webkit-input-placeholder {
    color: rgba($black, 0.5);
    font-family: $font-mono;
    font-size: 18px;
    text-align: center;
  }

  ::-webkit-inner-spin-button {
    display: none;
  }
}