//------------------------------------------------------------------------------
// Abstract





//------------------------------------------------------------------------------
// Base

html, body {
  height: 100%;
}

//------------------------------------------------------------------------------
// Body Components

.page {
  height: 100%;
  @include flex(column, center, center);
}

.page__header {
  width: 100%;
}

.page__body {
  position: relative;
  width: 100%;
  height: calc(100% - #{$height--full-header});
}

//------------------------------------------------------------------------------
// Footer Components
