//------------------------------------------------------------------------------
// Abstract



//------------------------------------------------------------------------------
// Header
.page-header {
  @include flex(column, center, flex-start);
  height: $height--full-header;
  padding-left: 30px;

  @include media(">=tablet") {
    @include flex(column, center, center);
    padding-left: 0;
  }

  .page-header__link {
    display: block;
    font-family: $font-mono;
    text-align: center;
  }

  & &__scene {
    font-size: 30px;
  }
}